.contextMenuHide {
  width: 150px;
  height: 150px;
  background: rgb(23, 186, 215);
  position: absolute;
  display: none;
}

.contextMenuShow {
  width: 150px;
  height: 150px;
  background: rgb(23, 186, 215);
  position: absolute;
  display: flex;
  flex-direction: column;
}

.contextMenuShow > button {
  flex: 1;
}
