.menu {
  border: 2px solid black;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 5px 0px;
}

body {
  margin: 0;
}

.navItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
