.hiddenStates {
  list-style: none;
}

.green {
  text-decoration: line-through;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

div {
  flex: 1;
}

.highScores {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.leftScores {
  text-align: left;
}

.rightScores {
  text-align: left;
}
