.hiddenStates {
  text-align: left;
}

.green {
  text-decoration: line-through;
}

.sideMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

div {
  flex: 1;
}

.highScores {
  display: flex;
  flex-direction: row;
}

.leftScores {
  text-align: left;
}

.rightScores {
  text-align: left;
}

.description {
  text-align: center;
  border: 2px solid black;
}

.leaderboard {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
